@import url(../font-awesome/css/font-awesome.min.css);

@font-face {
  font-family: 'Noto_Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto_Sans'), local('NotoSans-Regular'),
    url(../fonts/Noto_Sans/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto_Sans';
  font-style: bold;
  font-weight: 700;
  src: local('Noto_Sans'), local('NotoSans-Regular'),
    url(../fonts/Noto_Sans/NotoSans-Bold.ttf) format('truetype');
}
